.card-img{
    height: 200px;
}


.publish-date{
    font-size: 14px;
    color: #585858;
    margin: 0px;
}

.fa-calendar-days{
    color: #585858;
    margin: 0px;
}

.fa-arrow-right{
    color:#EB5757;
    background-color:  #fceaea;
    border-radius: 50%;
    padding: 14px;
    cursor: pointer;
}