.publish-date{
    font-size: 14px;
    color: #585858;
    margin: 0px;
}

.fa-solid{
    color: #585858;
    margin: 0px;
}

/* .date-container{
    height: 0px;
    display: flex;
    align-items: center;
} */